<plugin>
	<nom>Portail Web pour PMB (version spéciale Ritimo)</nom>
	<slogan>Utiliser SPIP comme portail web du logiciel PMB</slogan>
	<auteur>[OpenStudio->http://www.openstudio.fr]</auteur>
	<licence>&#169; 2010 - GPL</licence>
	<version>1.0.4 (fork Ritimo)</version>
    <version_base>0.1</version_base>
	<icon>img_pack/logo-spip-pmb.png</icon>
	<etat>stable</etat>
	<description>
Ce portail web pour [PMB->http://www.pmbservices.fr] contient un squelette pr&#234;t &#224; l&#8217;emploi compatible avec les th&#232;mes ZPIP. L&#8217;interface avec le catalogue pmb s&#8217;effectue par les webservices pmb disponibles &#224; partir de la version 3.3.

PMB est un Sigb (Syst&#232;me Int&#233;gr&#233; de Gestion de Biblioth&#232;que) libre.
	</description>
	<lien>http://www.spip-contrib.net/Portail-Web-pour-PMB</lien>
	<options>pmb_mes_options.php</options>
	
	<fonctions>pmb_mes_fonctions.php</fonctions>
	<prefix>pmb</prefix>
	<install>base/pmb_install.php</install>
    <pipeline>
		<nom>declarer_tables_principales</nom>
		<inclure>base/pmb.php</inclure>
	</pipeline>
	<pipeline>
		<nom>declarer_tables_interfaces</nom>
		<inclure>base/pmb.php</inclure>
	</pipeline>

	<necessite id='spip' version='[2.0.10;2.1.99]' />
 	<necessite id="CFG" version="[1.0;]" />
	<necessite id="spip_bonux" version="[1.2;]" />
	<utilise id='Z' version='[1.2.0;]' />
	<categorie>divers</categorie>
</plugin>
